/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

.gannt-table {
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

.gannt-table td {
    border-left: 1px solid #ddd;
    position: relative;
}

.date-editor {
    border: 0;
    width: 80px;
}

.date-editor:focus {
    background-color: #fff8dc;
}

.float-holder {
    position: relative;
    height: 20px;
}

.floater {
    position: absolute;
    top:3px;
    /*background-color: #1248D5;*/
    border:1px solid #7192E8;
    border-radius: 3px;
    height: 12px;
    box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    background-image: -moz-linear-gradient(#1148D3, #1041AA);
    background-image: -webkit-linear-gradient(#1148D3, #1041AA);
}

.floater-filler {
    background-color: white;
    position: absolute;
    top:1px;
    bottom:1px;
    border: 1px solid #7192E8;
    left:10px;
    right:1px;
    border-radius:2px;
}
.parent-floater {
    position: absolute;
    top:0;
}
.dependency-canvas {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:510px;
}


.gannt-table tbody tr td {
    padding: 0;
}

td.datelabel {
    width:25px;
}

.CellTreeTable {

}

.CellTreeTable .Cell {
    position: relative;
}

.CellTreeTable td {
    vertical-align: top;
}

.CellTreeTable tr:hover {
    background-color: #fff8dc;
}

.GanntCell {
    width: 20px;
}

.CellTreeTable .FirstCell {
    padding-left: 1.2em;
}

.CellTreeTableCollapseElement {
    position: absolute;
    top: 0.3em;
    left: 0;
}

.tdsc input {
    width: 100%;
}
.tprog input, .tdur input {
    width: 30px;
}

.gannt-table .Cell:first-child {
    position:relative;
}

.ContentEditableCellInline{
    display:inline-block;
}

.ContentEditableCellBlock{
    display:block;
}

.ContentEditableCellBlock, .ContentEditableCellInline {
    outline: none;
    height: auto !important;
    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    -webkit-line-break: after-white-space;
    padding-left: 2pt;
    padding-right: 2pt;
}
.gannt-table canvas {
    position: absolute;
    z-index: 200;
}

.tdd, .tsd {
    padding: 0 5px;
}

.tdsc img {
    float:right;
}
.tdsc {
    min-width: 600pt;
}

.gannt-table thead * {
    font-weight: bold;
    padding-left: 3pt;
    padding-right: 3pt;
    white-space: nowrap;
}

.gannt-table tbody tr {
    border-top: 1px solid #ddd;
}

.gannt-table tbody tr {
    border-top: 1px solid #ddd;
}

.ContentEditableCellBlock:focus, .ContentEditableCellInline:focus {
    border: 2px solid #7192E8;
}

.tdesc-box {
    position: relative;
}

.tdesc-box .ContentEditableCellBlock {
    padding-right: 20pt;
}

.tdesc-controls {
    position: absolute;
    padding-left: 4px;
    right:0;
    top:0;
}

.tdesc-box .tdesc-controls img {
    visibility: hidden;
}

.tdesc-box:hover .tdesc-controls img {
    visibility: visible;
}

.tdesc-box:hover .tdesc-controls {
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}